<div id="<%= dom_id order_item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Order:</strong>
    <%= order_item.order_id %>
  </div>
  
  <div>
    <strong class="block font-medium mb-1">Sale channel:</strong>
    <%= order_item.sale_channel_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Item:</strong>
    <%= order_item.item_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Seller sku:</strong>
    <%= order_item.seller_sku %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= order_item.quantity %>
  </div>
</div>
